.login-container {
    background-color: #f0f8ff; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px; 
  }
  
  input[type="email"],
  input[type="password"] {
    border-radius: 5px; 
  }
  
  button.btn-primary {
    background-color: #007bff; 
    border: none;
    border-radius: 5px; 
    padding: 10px 0;  
  }
  
  h1 {
    color: #007bff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400  
  }
