
  /* Custom CSS for Tables */
  .tables-container {
    margin-top: 20px; 
    background-color: #f0f8ff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    max-width: 100%; 
    text-align: center; 
    border-collapse: collapse; 
  }
  
  .table th, .table td {
    padding: 10px; 
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #ffffff; 
    color: #333; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
  }
  .table-hover tbody tr:hover {
    background-color: #d1e7fd; 
  }
  
  .icon:hover{
    color: rgb(42, 115, 252);
  }
  
  .input{
    border:rgb(42, 115, 252) solid 1px;
    max-width:100px !important
  }

  .duplicate-lead {
    background-color: rgb(255, 233, 110) !important;
  }
  