
  /* Custom CSS for Tables */
  .tables-container {
    margin-top: 20px; 
    background-color: #f0f8ff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    width: 100%; 
    max-width: 100%; 
    text-align: center; 
    border-collapse: collapse;
    overflow-x: auto; 
}
  
  .table th, .table td {
    padding: 2px; 
    border: 1px solid #ddd;
    font-size: .8vw;
  }
  
  .table th {
    background-color: #ffffff; 
    color: #333; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
  }
  .table-hover tbody tr:hover {
    background-color: #d1e7fd; 
  }
  
  .icon:hover{
    color: rgb(42, 115, 252);
  }
  
  .input{
    border:rgb(42, 115, 252) solid 1px;
    max-width:100px !important
  }

  .duplicate-lead {
    background-color: rgb(255, 244, 180) !important;
  }

.invalid-lead {
  color: rgb(219, 0, 0) !important;
  font-weight: bold;
}

.search-input{
  border: .5px solid rgb(211, 211, 211);
  border-radius: 0 50px 50px 0 !important;
  border-left: none;
  font-size: .8vw;
  width: 90%;
  padding-left: 10px;
}
#search-icon{
  border-radius: 50px 0px 0px 50px !important;
  border: .5px solid rgb(211, 211, 211);
  font-size: .9vw;
}
#input-group {
  display: flex; 
  justify-content: center; 
  margin-bottom: 15px;
  margin-top: -5px;
  
}

  